---
    interface Props {
        content: string
    }

    const { content } = Astro.props;
---

<button class="py-3 px-5 w-96 mt-10 rounded-[8px] bg-primary text-black font-black text-xl" type="submit">
    {content}
</button>